div.item {
    width:100%; 
    border-bottom:1px solid #aaa; 
    padding: 10px 12px;
}
div.title {
    display: flex;  
    align-items: center; 
    justify-content: space-between;
    cursor:pointer;
}

div.question {
    color: white ;
}
div.question:hover {
    color: #aaa !important;
}
p.answer {
    color:#ccc !important; 
    font-size:17px;
    text-align:left;
    padding:10px 30px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}